@charset "utf-8";

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    padding: 1rem;
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,.2);
    font-weight: 500;
    font-size: 14pt;
}

.header__title {
    font-size: 18pt;
    font-weight: 600;
}

a#exit {
    color: #27b67c;
    border-radius: 5px;
    padding: .5rem 2rem;
    border: 1px solid #27b67c;
}

a#login {
    color: white;
    padding: .5rem 2rem;
    background-color: #27b67c;
    border-radius: 5px;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.header__itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header__list li {
    list-style: none;
}

.header__list li a {
    padding: 1rem;
    text-decoration: none;
}

.header__list li a:hover {
    background-color: #f5f5f5   ;
}

header a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.main__markt {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.main__markt__image {
    width: 100%;
    min-width: 45rem;
    max-width: 60%;
    height: 62rem;
}

.main__markt__image img {
    width: 100%;
    height: 100%;
}

.main__markt__info {
    /*background-color: #3a4652;*/
    width: 100%;
    min-width: 10rem;
    max-width: 40%;
    color: #27b67c;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main__markt__info__content {
    margin: auto;
    width: 100%;
    max-width: 75%;
    /*height: 70%;*/
    font-size: 13pt;
    font-weight: 500;
}

.main__markt__info__content__title {
    font-weight: 600;
}


@media (max-width: 780px) {
    div.main__markt__image {
        max-width: 100%;
    }

    .main__markt__image img {
        height: 50rem;

    }

    .main__markt__info {
        max-width: 100%;
    }

    .main__markt__info__content__title {
        font-size: 25pt;
        margin-bottom: 0;
    }
}

@media (max-width: 453px) {
    .main__markt__image {
        display: none;
    }
}

.category {
    width: 100%;
    max-width: 90%;
    margin: 10rem auto;
}

.category__title {
    font-weight: 600;
}

.category__container {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category__content {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 20rem;
    width: 100%;
    margin: 2rem;
    min-width: 25rem;
}

.category__content img {
    width: 100%;
    height: 100%;
}

.category__content span {
    position: absolute;
    top: 16rem;
    left: 2rem;
    color: white;
    font-size: 20pt;
}

@media (max-width: 930px) {
    .category__container {
        flex-wrap: wrap;
    }

    .category__content {
        max-width: 45rem;
    }
}

.list_bike {
    width: 100%;
    max-width: 90%;
    margin: 10rem auto;
}

.list_bike__title {
    font-weight: 600;
}

.produto_only {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.produto_only__box {
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 10px;
    width: 100%;
    max-width: 50%;
    min-width: 25rem;
}

.produto_only__box__image img {
    width: 100%;
    height: auto;
}

.produto_only__venda {
    padding: 5rem;
}

a.produto_only__venda__btn {
    background-color: #27b67c;
    display: block;
    padding: 1rem 2rem;
    margin: auto;
    margin-top: 5rem;
    width: fit-content;
    border: none;
}

.produto_only__box__name {
    font-weight: bold;
    font-size: 14pt;
}

.produto_only__venda {
    width: 100%;
    max-width: 50%;
    min-width: 25rem;

}

.produto_only__desc {
    margin: 5rem 0;
    border-top: 1px solid rgba(0,0,0,.5);
}
